node_modules
npm-debug.log
pnpm-debug.log
.git
.gitignore
README.md
.env
.env.example
db
.eslintrc
eslint.config.mjs
.prettierrc
.prettierignore
.vscode
.idea
*.md
!README.md
Dockerfile
docker-compose.yml
.dockerignore
